<div class="card">
  <div class="card-header bg-primary text-white font-weight-bold">
    {{employee.name}}
  </div>
  <div class="card-body">
    <div class="col-10">
      <div class="row verticalAlign">
        <div class="col-4">
          <img class="imageClass" [src]="employee.photoPath" [alt]="employee.name">
        </div>
        <div class="col-8">
          <div class="row">
            <div class="col-6">Gender</div>
            <div class="col-6">: {{employee.gender}}</div>
          </div>
          <div class="row">
            <div class="col-6">Date of Birth</div>
            <div class="col-6">: {{employee.dateOfBirth | date:'mediumDate'}}</div>
          </div>
          <div class="row">
            <div class="col-6">Contact Preference</div>
            <div class="col-6">: {{employee.contactPreference}}</div>
          </div>
          <div class="row">
            <div class="col-6">Phone</div>
            <div class="col-6">: {{employee.phoneNumber}}</div>
          </div>
          <div class="row">
            <div class="col-6">Email</div>
            <div class="col-6">: {{employee.email}}</div>
          </div>
          <div class="row">
            <div class="col-6">Department</div>
            <div class="col-6" [ngSwitch]="employee.department">
              :
              <span *ngSwitchCase="1">Help Desk</span>
              <span *ngSwitchCase="2">HR</span>
              <span *ngSwitchCase="3">IT</span>
              <span *ngSwitchCase="4">Payroll</span>
              <span *ngSwitchDefault>N/A</span>
            </div>
          </div>
          <div class="row">
            <div class="col-6">Is Active</div>
            <div class="col-6">: {{employee.isActive}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>